# --- Entornos virtuales ---
venv/
.venv/
env/
ENV/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# --- Jupyter ---
.ipynb_checkpoints/

# --- MkDocs ---
site/

# --- Editor / SO ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Logs y temporales ---
*.log
.cache/
